/* Variables for dark theme and light theme */
/* Dark theme (default) */
body {
    /* Body colors */
    --body-color: rgba(12, 24, 33, 1);
    --body-color-gradient: linear-gradient(150deg, rgba(22, 34, 33, 1) 0%, rgba(12, 34, 53, 1) 59%, rgba(32, 49, 77, 1) 100%);
    --body-color-inverse: rgba(240, 240, 240, 1);

    /* Text colors */
    --text-color: rgb(240, 240, 240);
    --text-color-inverse: rgb(12, 12, 12);
    --text-color-hover: rgb(200, 200, 200);

    /* Nav colors */
    --nav-color: rgba(2, 14, 23, 0.94);
    --nav-color-active: rgba(27, 42, 65, 1);
    --nav-color-hover: rgba(240, 240, 240, 1);
    --nav-color-menu: rgba(2, 14, 23, 1);

    /* footer color */
    --footer-color: rgba(2, 14, 23, 0.94);

    /* Icon color */
    --icon-color: invert(99%) sepia(3%) saturate(113%) hue-rotate(255deg) brightness(117%) contrast(88%);
    --icon-color-hover: invert(84%) sepia(0%) saturate(0%) hue-rotate(235deg) brightness(98%) contrast(89%);
    --icon-color-invert: invert(0%) sepia(14%) saturate(42%) hue-rotate(212deg) brightness(103%) contrast(91%);

    /* Skillbar color */
    --skillbar-color: rgba(255, 255, 255, .2);
}

/* Light theme */
body.light-theme {
    /* Body colors */
    --body-color: rgba(250, 250, 250, 1);
    --body-color-gradient: linear-gradient(150deg, rgba(250, 250, 250, 1) 0%, rgba(200, 200, 200, 1) 50%, rgb(190, 190, 190) 100%);
    --body-color-inverse: rgba(12, 24, 33, 1);

    /* Text colors */
    --text-color: rgb(12, 12, 12);
    --text-color-inverse: rgb(240, 240, 240);
    --text-color-hover: rgb(60, 60, 60);

    /* Nav colors */
    --nav-color: rgba(255, 255, 255, 0.96);
    --nav-color-active: rgba(27, 42, 65, 1);
    --nav-color-hover: rgba(12, 12, 12, 1);
    --nav-color-menu: rgba(255, 255, 255, 1);

    /* footer color */
    --footer-color: rgba(255, 255, 255, 0.70);

    /* Icon color */
    --icon-color: invert(0%) sepia(14%) saturate(42%) hue-rotate(212deg) brightness(103%) contrast(91%);
    --icon-color-hover: invert(21%) sepia(0%) saturate(17%) hue-rotate(180deg) brightness(102%) contrast(92%);
    --icon-color-invert: invert(99%) sepia(3%) saturate(113%) hue-rotate(255deg) brightness(117%) contrast(88%);

    /* Skillbar color */
    --skillbar-color: rgba(50, 50, 50, .35);
}


/* Global styling */


/* The body is the body of the website, it is where all of the visible parts of the website is. */
body {
    /* Set the display of the page to flex */
    display: flex;
    /* This changes the direction of flex elements to be on top of each other with column */
    flex-direction: column;
    /* Set the minimum height of the entire page to be 100vh, which is 100% of the window page of the user. */
    min-height: 100vh;
    /* Min-width of 377px so that page shouldn't be smaller than 377px */
    min-width: 377px;
    /* Changes the background of the website if gradient not supported */
    background: var(--body-color);
    /* Changing the background of the page to a gradient */
    background: var(--body-color-gradient);
    /* Setting positon to relative instead of static which is default */
    position: relative;
    /* Defining line height because bootstrap changes to bad value */
    line-height: 1.2;
}

/* Importing google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* Applies to all elements */
* {
    /* Setting the font family to Nunito which is from google fonts */
    font-family: 'Nunito', sans-serif;
    /* Changing the color for all text to the variable text-color */
    color: var(--text-color);
    /* Removes underline from links and other effects on text */
    text-decoration: none;
    /* Sets the border for everything to none */
    border: none;
    /* Sets the outline for everything to none. Give it an outline of "1px solid red" for troubleshooting. */
    outline: none;
    /* Sets the padding for everything to zero */
    padding: 0;
    /* Sets the margin for everything to zero */
    margin: 0;
    /* Setting box-sizing to border-box */
    box-sizing: border-box;
}


a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-color-hover);
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

h2 {
    font-size: 1.6em;
    font-weight: 600;
}



/* Making class for display which you can add to any element to give it a display equal to none */
.hidden {
    display: none;
}
.block {
    display: block;
}
.flex {
    display: flex;
}



/* Styling for <hr> tag */
hr {
    border: 1px solid var(--body-color-inverse);
    border-radius: 10px;
    background-color: var(--body-color-inverse);
    margin: 25px 0px;
    opacity: 1;
}


/* Styling span tags */
span {
    font-weight: 600;
}

/* Styling for span when it has a class of spanLight */
span.spanLight {
    font-weight: lighter;
}

/* Styling for span when it has a class of spanLightUnderline */
span.spanLightUnderline {
    text-decoration: underline;
    font-weight: lighter;
}

/* Styling span tag with class of spanLightSmall. This will be an even smaller span */
span.spanLightSmall {
    font-weight: lighter;
    font-size: .6em;
}

/* Adding a margin to the right for <i> tags */
i {
    margin-right: .3em;
}


/* Styling for button */
button {
    background: none;
    font-size: 1.2em;
    cursor: pointer;
}

/* Styling for button with a class of header */
button.header {
    font-size: 1.4em;
}

/* Styling button and links when it is hovered over */
button:hover,
button:hover *,
a:hover * {
    color: var(--text-color-hover);
}


/* Class called links so you can give <a> tag an higher z-index. This is so you can click it when the sidemenu is open */
.links {
    position: relative;
    z-index: 902;
}



/* Styling for dropdown icons */
.dropRight::after {
    content: url(../img/icons/dropdown_down.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 3px;
    left: 2px;
    z-index: -1;
}

.dropRightUp::after {
    content: url(../img/icons/dropdown_up.png);
}

.dropLeft::before {
    content: url(../img/icons/dropdown_down.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 3px;
    right: 2px;
    z-index: -1;
}

.dropLeftUp::before {
    content: url(../img/icons/dropdown_up.png);
}

.dropRight2::after {
    content: url(../img/icons/dropdown_down.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 6px;
    left: 2px;
    z-index: -1;
}

.dropRightUp2::after {
    content: url(../img/icons/dropdown_up.png);
}

.dropLeft2::before {
    content: url(../img/icons/dropdown_down.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 6px;
    right: 2px;
    z-index: -1;
}

.dropLeftUp2::before {
    content: url(../img/icons/dropdown_up.png);
}

/* End of styling for dropdown icons */



/* Styling for skillbar */
.skillbar {
    background: var(--skillbar-color);
    width: 200px;
    height: 20px;
    margin-left: .2em;
    margin-bottom: .16em;
    border-radius: 1em;
}

/* Styling the text for the skillbar */
.skillbar .skill2 span,
.skillbar .skill3 span,
.skillbar .skill4 span,
.skillbar .skill5 span,
.skillbar .skill6 span,
.skillbar .skill7 span,
.skillbar .skill8 span,
.skillbar .skill9 span,
.skillbar .skill10 span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding-right: .2em;
}

/* Styling the text for the skillbar. Styling for skill1 seperatly because the width of skill1 is too small for text to fit inside. */
.skillbar .skill1 span {
    display: flex;
    align-items: center;
    padding-left: 1.4em;
    height: 100%;
}

/* Styling for overlaying over skillbar to show percentage of skill.
0%-10%, 10%-20%, 20%-30%, 30%-40%, 40%-50%, 50%-60%, 60%-70%, 70%-80%, 80%-90%, 90%-100% */
.skill10 {
    background: rgb(25, 100, 255);
    border-radius: 1em;
    width: 100%;
    height: 100%;
}

.skill9 {
    background: rgb(0, 140, 150);
    border-radius: 1em;
    width: 90%;
    height: 100%;
}

.skill8 {
    background: rgb(24, 172, 120);
    border-radius: 1em;
    width: 80%;
    height: 100%;
}

.skill7 {
    background: rgb(30, 200, 80);
    border-radius: 1em;
    width: 70%;
    height: 100%;
}

.skill6 {
    background: rgb(30, 200, 0);
    border-radius: 1em;
    width: 60%;
    height: 100%;
}

.skill5 {
    background: rgb(120, 200, 0);
    border-radius: 1em;
    width: 50%;
    height: 100%;
}

.skill4 {
    background: rgb(230, 180, 0);
    border-radius: 1em;
    width: 40%;
    height: 100%;
}

.skill3 {
    background: rgb(255, 120, 0);
    border-radius: 1em;
    width: 30%;
    height: 100%;
}

.skill2 {
    background: rgb(255, 50, 0);
    border-radius: 1em;
    width: 20%;
    height: 100%;
}

.skill1 {
    background: rgb(255, 0, 0);
    border-radius: 1em;
    width: 10%;
    height: 100%;
}

/* End of skillbar styling */

/* End of global classes styling */





/* Styling for navbar */
navbar {
    /* Setting background to --nav-color */
    background: var(--nav-color);
    /* Setting the height of the navbar */
    height: 50px;
    /* Setting position to sticky so it is always at top */
    position: sticky;
    /* Adding top so it is always at the top of the page */
    top: 0;
    /* Giving it a high z-index so it is above other elements */
    z-index: 900;
}

/* Styling for topnav */

/* Styling for the class topnav */
.topnav {
    /* Giving it a height of 50px, makes sidemenu behave properly */
    height: 50px;
}

/* Styling topnav links */
.topnav .topnav-links a {
    /* Giving it a display equal to flex in order to align the items to the center verticaly */
    display: flex;
    /* Aligning the links to the center along the y axis */
    align-items: center;
    /* Making it float to the right of the screen */
    float: right;
    /* Giving it padding to right and left of element to space the links appart  */
    padding: 0 16px;
    /* Changing font size */
    font-size: 1.05em;
    font-weight: 400;
    /* Giving the links a height of 50px */
    height: 50px;
}

/* Styling topnav links on hover */
.topnav .topnav-links a::after {
    content: '';
    position: absolute;
    width: 102%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: -1.5px;
    background-color: var(--body-color-inverse);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.topnav .topnav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/* Changing display to none when screen width is 859px */
@media (max-width: 859px) {
    .topnav .topnav-links {
        display: none;
    }
}

.topnav #navHeader {
    display: flex;
    align-items: center;
    float: left;
    height: 50px;
    font-size: 32px;
    margin-left: .5em;
}

.topnav .topnav-links a#navActive::after {
    content: '';
    position: absolute;
    width: 102%;
    height: 2px;
    transform: scaleX(1);
    bottom: 0;
    left: -1.5px;
    background-color: var(--body-color-inverse);
}

.sidemenu .navlinks #navActive {
    background-color: var(--nav-color-active);
    color: rgb(240, 240, 240);
}


/* Styling for sidemenu button */

#sidemenu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    float: right;
    /* Makes it show the pointer when you hover over it. This way it looks clickable */
    cursor: pointer;
    position: relative;
    z-index: 950;
}

i#sidemenu-btn-img {
    margin-right: 0 !important;
}

/* End of styling for topnav */




/* Styling for sidemenu */

.sidemenu {
    min-height: 69px;
    width: 160px;
    background: var(--nav-color-menu);
    position: absolute;
    right: 0;
    z-index: 999;
    margin: .5em 1em 0 0;
    padding: 0;
    border: none;
    border-radius: 1em;
    display: block;
}

.sidemenu-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 901;
    display: block;
}

.sidemenu hr {
    border: 1px solid var(--body-color-inverse);
    border-radius: 1em;
    padding: 0;
    margin: 4px 5px;
    opacity: .2;
}

.navlinks {
    display: none;
}

.navlinks a.top {
    background: var(--nav-color);
    text-align: left;
    padding: .7em .4em;
    margin: 0;
    font-size: 18px;
    display: block;
    border: none;
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
    z-index: 999;
    position: relative;
}

.navlinks a {
    background: var(--nav-color);
    text-align: left;
    padding: .7em .4em;
    margin: 0;
    font-size: 18px;
    display: block;
    border: none;
    z-index: 999;
    position: relative;
}

.navlinks a:hover {
    background-color: var(--nav-color-hover);
    color: var(--text-color-inverse);
}

/* Shows the navlinks inside the sidemenu when screen is small enough */
@media (max-width: 859px) {
    .navlinks {
        display: block;
    }
}

.dropdowns {
    margin-bottom: .6em;
}

/* Styling for appearance button */
.appearance-btn {
    background: var(--nav-color-menu);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: .5em .2em;
}

.appearance-btn::before {
    content: url(../img/icons/appearance.png);
    filter: var(--icon-color-invert);
    height: 19px;
    width: 19px;
    position: relative;
    top: 5px;
    left: 2px;
}


#appearance-drop button {
    background: var(--nav-color-menu);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin: .15em 1.1em;
}

/* Styling for language button */
.language-btn {
    background: var(--nav-color-menu);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: .5em .2em;
}

.language-btn::before {
    content: url(../img/icons/language.png);
    filter: var(--icon-color-invert);
    height: 19px;
    width: 19px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 5px;
    left: 2px;
}


#language-drop button {
    background: var(--nav-color-menu);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin: .15em 1.1em;
}

/* Styling for social class in sidemenu */
.social {
    margin: 10px 0 10px 3px;
    line-height: 1.7rem;
}

/* Styling for the links when parent has a class of social */
.social a {
    display: inline-block;
    font-size: 18px;
    text-decoration: underline;
}

.social a:hover {
    color: var(--text-color-hover);
}

/* Styling the logos inside the sidemenu */
img.github-logo {
    filter: var(--icon-color-invert);
    height: 19px;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    top: 3px;
    left: 2px;
}

/* End of styling for sidemenu */




/* Styling for <main> */
main {
    /* Setting the flex to 1 so that it takes up the entire window height, this makes it so the footer is always at the bottom */
    flex: 1;
    /* Setting margin to offset it from the x and y axis */
    margin: 1.5em 5em;
    /* Making a transiton for margin left and right, so it changes the margin smoothly */
    transition: margin-left .5s, margin-right .5s;
}

/* When screen with is 859px, change the margin of <main> */
@media (max-width: 859px) {
    main {
        margin: 1.5em 1em;
    }
}

/* End of styling <main> */




/* Styling for home page */

/* Styling for introduction part of the home page */
#homepage .intro {
    display: inline-flex;
    align-self: center;
}

#homepage .intro img {
    border-radius: 10em;
    width: 300px;
    height: auto;
}

#homepage .intro #text {
    height: 50%;
    align-self: center;
    margin-left: 1.6em;
}

#homepage .intro #text h2 {
    font-size: 2.2em;
    font-weight: 600;
    text-decoration: underline 2px;
    padding: 0;
    margin: 0 0 16px 0;
}

#homepage .intro #text p {
    font-size: 1.3em;
    padding: 0;
    margin: 8px 0;
    font-weight: 600;
}

/* Using media to change the introduction part layout when on small screen */
@media (max-width: 700px) {
    #homepage .intro {
        display: block;
    }

    #homepage .intro #text {
        margin: .6em 0;
        margin-bottom: 1.6em;
    }
}

/* Styling for sections inside home page */
#homepage section {
    margin-bottom: 1.5em;
}

#homepage section h2 {
    margin-bottom: .5em;
}

#homepage section p {
    line-height: 1.5em;
}

/* End of home page styling */



/* Styling for education page */

/* Styling for <p> tag with class of header */
#education p.header {
    font-size: 1.6em;
}

/* Styling for the introduction section */
#education div {
    margin-bottom: 1em;
}

.edu-intro p {
    line-height: 1.5em;
}

/* Styling for the schools section */
/* Giving buttons inside an element with id of dropdowns and giving it a margin of .2em at the top and bottom. Also giving it a height of 50px */
.edu-schools #dropdowns button {
    /* margin: .2em 0; */
    height: 50px;
}

/* Adding a - before the buttons */
.edu-schools #dropdowns button::before {
    content: '- ';
}

/* Setting the font size of p tags inside dropdowns and changing margin so <p> is more to the right */
.edu-schools #dropdowns p {
    font-size: 1.1em;
    margin: 0 0 .3em 1.5em;
}

/* Styling for glemmen vgs section */

#glemmenDrop td {
    padding-right: 1.2em;
    vertical-align: top;
}

#glemmenDrop img {
    border-radius: 3em;
    box-shadow: 3px 3px 6px var(--body-color-inverse);
    height: auto;
    width: 500px;
}

/* Styling for borge ungdomskole section */


/* Styling for årum skole section */


/* End of education page styling */



/* Start of work page styling */
.work-jobs div {
    margin-bottom: 1em;
}

.work-jobs p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-left: 1em;
}

.work-jobs ul {
    list-style: none;
    margin-left: 1.5em;
}

.work-jobs li {
    line-height: 1.5em;
}

.work-jobs button {
    line-height: 1.5em;
    font-size: 1.8em;
    background: transparent;
}

.work-jobs button:hover {
    color: var(--text-color-hover);
}

/* End of work page styling */



/* Hobbies site styling */
#hobbies section {
    margin-bottom: 1em;
}

#hobbies p.header {
    font-size: 2em;
    margin-bottom: .2em;
}

#hobbies p {
    font-size: 1.1em;
}

#hobbies button {
    margin-left: .8em;
    height: 40px;
}

#hobbies button::before {
    content: '- ';
}

/* #hobbies .dropdowns p {
    font-size: 1.1em;
    margin: 0 0 1.3em 1.9em;
} */

#hobbies .dropdowns p,
#hobbies .dropdowns table {
    font-size: 1.1em;
    margin-left: 2.5em;
}

/* End of hobbies site styling */





/* Styling for the footer of the website */
footer {
    min-height: 50px;
    background: var(--footer-color);
}

footer * {
    position: relative;
    z-index: 550;
    transition: width .5s;
}


footer .container {
    max-width: 100%;
}

footer p {
    font-size: 1.3em;
    padding: .1em 0;
}

footer .copyright p {
    font-size: 1.05em;
}

footer h3 {
    font-size: 2em;
}

footer hr {
    margin-top: 1.3em;
    margin-bottom: .1em;
}

footer #map {
    border: 1px solid var(--body-color-inverse);
    border-radius: 10px;
    width: 100%;
    height: 226px;
}


/* Email form */
.email-form input,
.email-form textarea {
    background: var(--body-color);
    font-size: 1.1em;
    width: 100%;
    border-radius: 10px;
}

.email-form input {
    height: 30px;
    text-align: left;
    padding: .3em .3em;
    margin: .2em 0;
}

.email-form input#submit {
    padding: 0;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
}

.email-form textarea {
    padding: .3em .3em;
    resize: vertical;
    min-height: 150px;
}

/* End of footer styling */