/* Website themes */
/* Light mode */
body {
    --text-color1: rgb(0, 0, 0);
    --text-color2: rgb(255, 255, 255);

    --bkg-color1: rgb(255, 255, 255);
    --bkg-color2: rgb(195, 195, 195);
    --bkg-color3: rgb(40, 40, 40);

    --link-color1: rgb(255, 153, 0);
    --link-color2: rgb(235, 113, 0);
    --link-color3: rgb(223, 89, 0);
    --link-color4: rgb(39, 39, 39);

    --none: rgba(0, 255, 255, 0);
}
/* Dark mode */
body.dark-theme {
    --text-color1: rgb(255, 255, 255);
    --text-color2: rgb(0, 0, 0);

    --bkg-color1: rgb(56, 56, 56);
    --bkg-color2: rgb(40, 40, 40);
    --bkg-color3: rgb(195, 195, 195);

    --link-color1: rgb(0, 238, 255);
    --link-color2: rgb(0, 183, 255);
    --link-color3: rgb(0, 184, 190);
    --link-color4: rgb(175, 175, 175);

    --none: rgba(0, 255, 255, 0);
}

/* Changes the website background color, font, text color and disables horizontal scroll */
body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    background-color: var(--bkg-color1);
    color: var(--text-color1);
    overflow-x: hidden;
}



/* Styling the navigation bar (navbar) */
/* Add a black background color to the top navigation */
.navbar {
    background-color: var(--bkg-color2);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    z-index: 1; /* makes the navbar always the top most layer. Before when scrolling the text would be displayed over the navbar */
}
/* Styleing the links inside the navigation bar */
.navbar a {
    float: right;
    color: var(--text-color1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.navbar a:hover {
    background-color: var(--bkg-color3);
    color: var(--text-color2);
}
/* Add a color to the active/current link */
.navbar a.active {
    background-color: rgb(4, 170, 109);
    color: rgb(255, 255, 255);
}
/* Button design */
.navbar button {
    float: right;
    background-color: var(--bkg-color2);
    border: none;
    scale: 21.5%;
    position: relative;
    right: 78px;
    top: -78px;
    margin-right: -158px;
    margin-bottom: -158px;
    cursor: pointer
}
/* styling h1 */
.navbar h1 {
    position: fixed;
    top: -48px;
    left: -9px;
    color: var(--text-color);
    padding: 14px 16px;
    font-size: 40px;
}



/* Introduction styling */
/* Changes default styling for everything with intro class */
.intro {
    background-color: var(--bkg-color1);
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
}
/* Changes the styling h2 tags */
.intro h2 {
    position: relative;
    left: 0px;
    font-size: 1.8em;
    margin: 0px;
    margin-bottom: 10px;
}
/* Styling for h3 tags */
.intro h3 {
    position: relative;
    left: 0px;
    margin-top: 4px;
    margin-bottom: 0px;
}
/* Styling for img tag */
.intro img {
    max-width: 100%;
    width: 300px;
    height: auto;
    border-radius: 300px;
    margin: 0;
    padding: 0;
}
/* Styling for tables */
.intro td {
    padding-right: 40px;
}



/* Footer styling */
/* Changes the default styling for everything with footer class */
.footer {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    padding: 25px 0 30px 0;
    margin: 0;
    background-color: var(--bkg-color2);
    text-align: center;
}
/* Change style for links with footer class */
.footer a {
    text-decoration: none;
    color: var(--text-color1);
    font-size: 22px;
    line-height: 1.5;
}
/* Styling for table with footer class */
table.footer-table {
    display: inline;
    padding: 0;
    margin: 0;
    text-align: center;
}