/* Website themes */
/* Light mode */
body {
    --text-color: black;
    --bkg-color: rgb(238, 238, 238);
    --link-color: rgb(255, 153, 0);
    --visited: rgb(235, 113, 0);
    --hover: rgb(223, 89, 0);
    --active: rgb(39, 39, 39);
    --nav-bkg-color: rgb(195, 195, 195);
}
/* Dark mode */
body.dark-theme {
    --text-color: white;
    --bkg-color: #383838;
    --link-color: rgb(0, 238, 255);
    --visited: rgb(0, 183, 255);
    --hover: rgb(0, 184, 190);
    --active: rgb(175, 175, 175);
    --nav-bkg-color: #282828;
}

/* Changes the website background color and font */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bkg-color);
    color: var(--text-color);
}


/* Link styling */
/* Changes link color */
a:link {
  color: var(--link-color);
  text-decoration: none;
}
/* Changes link color for visited links */
a:visited {
  color: var(--visited);
  text-decoration: none;
}
/* Changes link color when hovering over it */
a:hover {
  color: var(--hover);
  text-decoration: none;
}
/* Changes color for link when you clicked it */
a:active {
  color: var(--active);
  text-decoration: none;
}


/* Other Styling */
/* Styling for tables */
th, td {
    padding-top: none;
    padding-bottom: none;
    padding-left: none;
    padding-right: 40px;
}


/* Navbar styling */
/* Add a black background color to the top navigation */
.navbar {
    background-color: var(--nav-bkg-color);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
/* Style the links inside the navigation bar */
.navbar a {
    float: right;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}
/* Button design */
.navbar button {
    float: right;
    background-color: var(--nav-bkg-color);
    border: none;
    scale: 21.5%;
    position: relative;
    right: 78px;
    top: -78px;
    margin-right: -158px;
    margin-bottom: -158px;
}
/* styling h1 */
.navbar h1 {
    position: fixed;
    top: -46px;
    left: -9px;
    width: auto;
    overflow: hidden;
    color: var(--text-color);
    text-align: left;
    padding: 14px 16px;
    font-size: 40px;
}


/* Introduction styling */
.intro {
    background-color: var(--bkg-color);
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

.intro h2 {
    position: relative;
    left: 0px;
    font-size: 1.8em;
    margin: 0px;
    margin-bottom: 10px;
}
.intro h3 {
    position: relative;
    left: 0px;
    margin-top: 4px;
    margin-bottom: 0px;
}


/* Footer styling */

.footer {
    position: relative;
    left: 0px;
    width: 100%;
    border-top: 2px solid var(--text-color);
    background: var(--nav-bkg-color);
    overflow-x: hidden;
    margin: 0px;
    padding: 20px;
}
.footer h3 {
    position: relative;
    left: 12px;
    color: yellow;
}
.footer a {
    position: relative;
    left: 12px;
    color: yellow;
    font-size: 32px;
    top: 8px;
}