/* Variables for dark theme and light theme */
/* Dark theme (default) */
body {
    /* Body colors */
    --body-color: rgba(12, 24, 33, 1);
    --body-color-gradient: linear-gradient(150deg, rgba(22, 34, 33, 1) 0%, rgba(12, 34, 53, 1) 59%, rgba(32, 49, 77, 1) 100%);
    --body-color-inverse: rgba(240, 240, 240, 1);

    /* Text colors */
    --text-color: rgb(240, 240, 240);
    --text-color-inverse: rgb(12, 12, 12);
    --text-color-hover: rgb(200, 200, 200);

    /* Nav colors */
    --nav-color: rgba(2, 14, 23, 0.94);
    --nav-color-active: rgba(27, 42, 65, 1);
    --nav-color-hover: rgba(240, 240, 240, 1);
    --nav-color-menu: rgba(2, 14, 23, 1);

    /* footer color */
    --footer-color: rgba(2, 14, 23, 0.94);

    /* Icon color */
    --icon-color: invert(99%) sepia(3%) saturate(113%) hue-rotate(255deg) brightness(117%) contrast(88%);
    --icon-color-invert: invert(0%) sepia(14%) saturate(42%) hue-rotate(212deg) brightness(103%) contrast(91%);
}

/* Light theme */
body.light-theme {
    /* Body colors */
    --body-color: rgba(250, 250, 250, 1);
    --body-color-gradient: linear-gradient(150deg, rgba(250, 250, 250, 1) 0%, rgba(200, 200, 200, 1) 50%, rgb(190, 190, 190) 100%);
    --body-color-inverse: rgba(12, 24, 33, 1);

    /* Text colors */
    --text-color: rgb(12, 12, 12);
    --text-color-inverse: rgb(240, 240, 240);
    --text-color-hover: rgb(60, 60, 60);

    /* Nav colors */
    --nav-color: rgba(255, 255, 255, 0.96);
    --nav-color-active: rgba(27, 42, 65, 1);
    --nav-color-hover: rgba(12, 12, 12, 1);
    --nav-color-menu: rgba(255, 255, 255, 1);

    /* footer color */
    --footer-color: rgba(255, 255, 255, 0.70);

    /* Icon color */
    --icon-color: invert(0%) sepia(14%) saturate(42%) hue-rotate(212deg) brightness(103%) contrast(91%);
    --icon-color-invert: invert(99%) sepia(3%) saturate(113%) hue-rotate(255deg) brightness(117%) contrast(88%);
}


* {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: var(--text-color);
    text-decoration: none;
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--body-color-gradient);
    position: relative;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.links {
    position: relative;
    z-index: 902;
}



.dropRight::after {
    content: url(../img/icons/dropdown_down.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 3px;
    left: 2px;
}
.dropRightUp::after {
    content: url(../img/icons/dropdown_up.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 3px;
    left: 2px;
}
.dropLeft::before {
    content: url(../img/icons/dropdown_down.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 3px;
    right: 2px;
}
.dropLeftUp::before {
    content: url(../img/icons/dropdown_up.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 3px;
    right: 2px;
}

.dropRight2::after {
    content: url(../img/icons/dropdown_down.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 6px;
    left: 2px;
}
.dropRightUp2::after {
    content: url(../img/icons/dropdown_up.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 6px;
    left: 2px;
}
.dropLeft2::before {
    content: url(../img/icons/dropdown_down.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 6px;
    right: 2px;
}
.dropLeftUp2::before {
    content: url(../img/icons/dropdown_up.png);
    filter: var(--icon-color-invert);
    position: relative;
    top: 6px;
    right: 2px;
}



navbar {
    background: var(--nav-color);
    height: 50px;
    position: sticky;
    top: 0;
}

.topnav {
    height: 50px;
    z-index: 900;
    margin: 0;
    padding: 0;
    border: none;
}

.topnav a {
    float: right;
    background: var(--nav-color);
    text-align: center;
    padding: 14.7px 16px;
    font-size: 17px;
}

.topnav a:hover {
    /* Gave background color so it's easier to see when text over header */
    background-color: var(--nav-color-hover);
    color: var(--text-color-inverse);
}

.topnav-links a {
    float: right;
    background: var(--nav-color);
    text-align: center;
    padding: 14.7px 16px;
    font-size: 17px;
    height: 50px;
}

.topnav-links a:hover {
    /* Gave background color so it's easier to see when text over header */
    background-color: var(--nav-color-hover);
    color: var(--text-color-inverse);
}

@media all and (max-width: 844px) {
    .topnav-links {
        display: none;
    }
}



#navHeader {
    float: left;
    padding: 5px 0 0 12px;
    margin: 0;
    background: none;
    color: var(--text-color);
    text-decoration: none;
    font-size: 32px;
    text-align: center;
}

#navActive {
    background-color: var(--nav-color-active);
    color: rgb(240, 240, 240);
}


#sidemenu-btn {
    position: relative;
    float: right;
    border: none;
    background: transparent;
    /* Makes it show the pointer when you hover over it. This way it looks clickable */
    cursor: pointer;
    padding: 0;
    margin: -5px 6px 0 6px;
    z-index: 950;
}

#sidemenu-btn-img {
    /* Using filter to change the color of the image from black to white depending on the theme */
    filter: var(--icon-color);
    height: 60px;
    width: 35px;
}

.sidemenu {
    display: none;
}

.sidemenu-show {
    min-height: 69px;
    width: 160px;
    background: var(--nav-color-menu);
    position: absolute;
    right: 0;
    z-index: 999;
    margin: .5em 1.4em 0 0;
    padding: 0;
    border: none;
    border-radius: 1em;
    display: block;
}

.sidemenu-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 901;
    display: none;
}

.sidemenu-overlay-show {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    z-index: 901;
    display: block;
}

.sidemenu-show hr {
    border: 1px solid var(--body-color-inverse);
    border-radius: 1em;
    padding: 0;
    margin: 4px 5px;
    opacity: 0.06;
}

.navlinks {
    display: none;
}

.navlinks a.top {
    background: var(--nav-color);
    text-align: left;
    padding: .7em .4em;
    margin: 0;
    font-size: 18px;
    display: block;
    border: none;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    z-index: 999;
    position: relative;
}

.navlinks a {
    background: var(--nav-color);
    text-align: left;
    padding: .7em .4em;
    margin: 0;
    font-size: 18px;
    display: block;
    border: none;
    z-index: 999;
    position: relative;
}

.navlinks a:hover {
    background-color: var(--nav-color-hover);
    color: var(--text-color-inverse);
}

@media all and (max-width: 844px) {
    .navlinks {
        display: block;
    }
}


.dropdowns {
    margin-bottom: .6em;
}

.appearance-btn {
    background: var(--nav-color-menu);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: .5em .2em;
}

.appearance-btn::before {
    content: url(../img/icons/appearance.png);
    filter: var(--icon-color-invert);
    height: 19px;
    width: 19px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 5px;
    left: 2px;
}

.appearance-drop {
    display: none;
}

.appearance-drop-show {
    display: block;
}

.appearance-drop-show button {
    background: var(--nav-color-menu);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin: .15em 1.1em;
}


.language-btn {
    background: var(--nav-color-menu);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: .5em .2em;
}

.language-btn::before {
    content: url(../img/icons/language.png);
    filter: var(--icon-color-invert);
    height: 19px;
    width: 19px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 5px;
    left: 2px;
}

.language-drop {
    display: none;
}

.language-drop-show {
    display: block;
}

.language-drop-show button {
    background: var(--nav-color-menu);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin: .15em 1.1em;
}


.social {
    margin: 10px 0 10px 3px;
    line-height: 1.7rem;
}

.social a {
    display: inline-block;
    font-size: 18px;
    text-decoration: underline;
}

.social a:hover {
    color: var(--text-color-hover);
}

img.github-logo {
    filter: var(--icon-color-invert);
    height: 19px;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    top: 3px;
    left: 2px;
}

img.youtube-logo {
    height: 19px;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    top: 3px;
    left: 2px;
}





main {
    flex: 1;
    margin: 1.5em 15em;
    align-self: center;
}
@media all and (max-width: 1150px) {
    main {
        margin: 1.5em 1em;
    }
}

main hr {
    border: 1px solid var(--body-color-inverse);
    border-radius: 10px;
    background-color: var(--body-color-inverse);
    margin: 25px 0px;
}

.intro {
    display: inline-flex;
    align-self: center;
}

.intro img {
    border-radius: 10em;
    width: 300px;
    height: auto;
}

.intro #text {
    height: 50%;
    align-self: center;
    margin-left: 1.6em;
}

.intro #text h2 {
    font-size: 36px;
    text-decoration: underline 2px;
    padding: 0;
    margin: 0 0 16px 0;
}

.intro #text p {
    font-size: 20px;
    padding: 0;
    margin: 8px 0;
    font-weight: 600;
}

@media all and (max-width: 700px) {
    .intro {
        display: block;
    }
    .intro #text {
        margin: .6em 0;
        margin-bottom: 1.6em;
    }
}

#homepage section {
    margin-bottom: 1.5em;
}

#homepage section h2 {
    margin-bottom: .5em;
}
#homepage section p {
    line-height: 1.5em;
}
#homepage section span {
    font-weight: 600;
}
#interests #moreInfo span {
    font-weight: lighter;
    text-decoration: underline;
}
#interests #moreInfo span:hover {
    color: var(--text-color-hover);
}


main#education {
    align-self: flex-start;
    margin: 1.5em 5em;
}

.edu-intro div {
    margin-bottom: 1em;
}
.edu-intro p.header {
    font-size: 1.6em;
}
.edu-intro p {
    line-height: 1.5em;
}


.edu-schools p {
    font-size: 1.6em;
}
.edu-schools #dropdowns button {
    font-size: 1.2em;
    background: none;
    margin: .2em 0;
    height: 50px;
}
.edu-schools #dropdowns button:hover {
    color: var(--text-color-hover);
}
.edu-schools #dropdowns button::before {
    content: '- ';
}
.edu-schools #dropdowns p {
    font-size: 1.09em;
    margin: 0 0 .3em 1.5em;
}

.glemmenDrop {
    display: none;
}
.glemmenDrop_show {
    display: block;
}
.borgeDrop {
    display: none;
}
.borgeDrop_show {
    display: block;
}
.aarumDrop {
    display: none;
}
.aarumDrop_show {
    display: block;
}



main#work-experience {
    align-self: flex-start;
    margin: 1.5em 5em;
}
.work-jobs div {
    margin-bottom: 1em;
}
.work-jobs button.header {
    font-size: 1.6em;
}
.work-jobs p {
    line-height: 1.5em;
    margin-left: 1em;
}
.work-jobs ul {
    list-style: none;
    margin-left: 1.5em;
}
.work-jobs li {
    line-height: 1.5em;
}
.work-jobs button {
    line-height: 1.5em;
    font-size: 1em;
    background: transparent;
}
.work-jobs button:hover {
    color: var(--text-color-hover);
}


.contact-me {
    text-align: center;
}
.contact-me p.header {
    font-size: 1.6em;
}

.contact-me form {
    border-radius: 10px;
    padding: .5em 1.4em;
    margin: 0 auto;
    background: var(--body-color);
}
.contact-me input, .contact-me textarea {
    background: var(--body-color);
}
.contact-me input {
    border: 3px solid var(--body-color-inverse);
    border-radius: 10px;
    width: 550px;
    height: 35px;
    text-align: center;
    margin: .6em 0;
}
.contact-me textarea {
    border: 3px solid var(--body-color-inverse);
    border-radius: 10px;
    width: 550px;
    height: 200px;
    text-align: center;
    margin: .6em 0;
    display: block;
}
.contact-me label {
    display: block;
    padding: 1.2em 0 .2em 0;
    font-size: 1.3rem;
}


/* Ignore this */
        /* .contact-me button {
            background: var(--body-color);
            border: 3px solid var(--body-color-inverse);
            border-radius: 10px;
            width: 550px;
            height: 50px;
            margin: .6em 0;
            font-size: 1.4rem;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .contact-me button::after {
            content: url(../img/icons/email_send_48px.png);
            filter: var(--icon-color-invert);
            position: relative;
            top: 4px;
            left: 8px;
        } */



footer {
    min-height: 50px;
    background: var(--footer-color);
}

/* Styling for stuff inside footer */
.footer-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling footer image */
.footer-container img {
    width: 120px;
    height: auto;
    border-radius: 50%;
}

/* Styling footer hr */
.footer-container hr {
    border: 1px solid var(--body-color-inverse);
    border-radius: 10px;
    background-color: var(--body-color-inverse);
    margin: 15px 0;
}

/* Styling footer p */
.footer-container p {
    font-size: 28px;
    padding: 0;
    margin: 0;
}

/* Styling footer links */
.footer-container a {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* Styling footer table */
.footer-container td {
    margin: 0;
    padding: 0 15px;
}

@media all and (max-width: 503px) {
    .footer-container #icon {
        display: none;
    }
}