/* Font from https://fonts.google.com/specimen/Nunito */
/* Font downloaded from https://gwfh.mranftl.com/fonts/nunito?subsets=latin */
@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    src: url('./woff2/nunito-v25-latin-200.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-200.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 200;
    src: url('./woff2/nunito-v25-latin-200italic.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-200italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: url('./woff2/nunito-v25-latin-300.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-300.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 300;
    src: url('./woff2/nunito-v25-latin-300italic.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-300italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('./woff2/nunito-v25-latin-regular.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 400;
    src: url('./woff2/nunito-v25-latin-italic.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    src: url('./woff2/nunito-v25-latin-500.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-500.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 500;
    src: url('./woff2/nunito-v25-latin-500italic.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-500italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('./woff2/nunito-v25-latin-600.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-600.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 600;
    src: url('./woff2/nunito-v25-latin-600italic.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-600italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('./woff2/nunito-v25-latin-700.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-700.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 700;
    src: url('./woff2/nunito-v25-latin-700italic.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-700italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    src: url('./woff2/nunito-v25-latin-800.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-800.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    src: url('./woff2/nunito-v25-latin-800italic.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-800italic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    src: url('./woff2/nunito-v25-latin-900.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-900.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 900;
    src: url('./woff2/nunito-v25-latin-900italic.woff2') format('woff2'),
        url('./woff/nunito-v25-latin-900italic.woff') format('woff');
}