#footer {
    display: flex !important;
    flex-direction: column;
    background: var(--footer-color);

    min-height: 50px;
    padding: 0.5em 5em 0.5em;
    transition: padding 500ms;

    box-shadow: 0 0 30px 3px #000;
    overflow: auto;

    .grid-item {
        display: flex;
        flex-direction: column;
    }

    /* Styling for text and svg in footer */
    .header {
        font-size: clamp(1.5rem, 10vw, 1.9rem);
        font-weight: 600;
        margin-bottom: 0.3em;
    }

    p {
        font-size: clamp(1.05rem, calc(-0.9rem + 10vw), 1.3rem);
        margin: 0.3em 0;
    }

    a {
        display: inline-flex;
        align-items: center;
        color: var(--text-color);
        text-decoration: none;

        span {
            display: flex;
            justify-content: center;
            position: relative;
            margin-inline: .4em .1em;
        }

        /* Custom underline on hover */
        &:hover span::after {
            content: "";
            position: absolute;
            bottom: -0.07em;

            width: 103%;
            height: 2px;

            background: var(--accent-color);
            border-radius: var(--border-radius);
        }
    }

    /* Styling for map */
    #map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        background: var(--bg-inverse);
        border: 1px solid var(--bg-inverse);
        border-radius: 10px;

        width: 100%;
        min-height: 250px;

        #map-consent-text {
            font-size: 1.3rem;
            text-align: center;
            color: var(--text-inverse);
        }

        #map-consent-button {
            background: var(--bg-color);
            border-radius: var(--border-radius);
            border: none;

            margin: 0.4em 0 0;
            padding: 0.5em 1em;

            color: var(--text-color);
            font-size: 1.7rem;
        }

        #map-consent-location {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 500;
            color: var(--text-inverse);

            svg {
                margin-inline-end: .1em;
                height: 1.3em;
            }
        }
    }

    /* Styling for copyright sections */
    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        margin: 1.5em 0 0.5em;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;

            width: 100%;
            height: 3px;

            background: var(--bg-inverse);
            border-radius: 10px;
        }

        p {
            display: flex;
            align-items: center;
            gap: .15em;

            margin: 1.5em 0 0;
            font-size: clamp(0.7rem, calc(-0.85rem + 10vw), 1rem);
        }

        svg {
            height: 22px;
        }
    }
}

/* Responsive footer */
@media (width >= 800px) {
    #footer {
        padding: 0.5em 5em 0.5em;

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.3em;
        }

        #location {
            grid-column-start: 2;
            grid-row: 1 / 3;
        }
    }
}

@media (width <= 1250px) {
    #footer {
        padding: 0.5em 2em 0.5em;
    }
}

@media (width <= 800px) {
    #footer {
        padding: 0.5em 2em 0.5em;
    }
}

@media (width <= 500px) {
    #footer {
        padding: 0.5em 0.5em 0.5em;
    }
}
