@use "abstracts/vars" as *;

@import url(../fonts/press-start-2p/press-start-2p.css);

.profile-info {
    margin-bottom: 2em;

    div:first-child {
        max-width: 300px;
        width: 100%;
        margin-right: 2em;

        @media (width <= 420px) {
            margin-right: 0;
        }
    }

    img {
        width: 100%;
    }

    p,
    a {
        margin: 0;
        line-height: 1.4;
        font-size: 1.4rem;
    }

    a {
        font-size: clamp(1rem, 6vw, 1.4rem);
    }

    .heading {
        margin-bottom: 0.4em;
    }
}

// **************************************
// *     Styling for codingLanguges     *
// **************************************

#codingLanguages {
    $gap: 0.5em;

    overflow: auto hidden;

    .codingLanguagesContainer {
        display: flex;
        flex-direction: row;
        gap: calc($gap * 4);
        flex-wrap: wrap;
    }

    .codingLanguageItem {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-block-start: $gap;

        background-color: #00000015;
        border-radius: calc(var(--border-radius) / 2);
        padding: 0.4em;

        flex: 1 1 0px;
    }

    .codingHeader {
        display: flex;
        gap: $gap;
        margin-inline: 0.5em 4em;

        svg {
            height: 56px;
        }

        p {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
            display: flex;
            align-items: flex-end;

            span {
                display: flex;
                margin-left: 0.3ch;
                opacity: 0.6;
                font-size: 1.2rem;
                white-space: nowrap;
            }
        }
    }

    .codingReposSection {
        display: flex;
        flex-direction: column;
        gap: $gap;

        > p {
            span {
                font-size: 1.3rem;
                font-weight: 600;
                margin-inline-start: 0.5em;
            }

            &::after {
                content: "";
                display: block;
                width: 98%;
                height: 2px;
                margin-block: 0 0.2em;
                border-radius: var(--border-radius);
                background: var(--separator-color);
            }
        }

        p {
            margin: 0;
        }

        .codingRepos {
            display: grid;
            margin-inline-start: 0.5em;
            gap: 0.5em;

            a {
                display: flex;
                align-items: center;
                gap: 0.3em;
                font-size: 1.2rem;
            }

            span {
                opacity: 0.8;
                font-size: 1rem;
            }

            #show-more {
                cursor: pointer;
            }
        }
    }
}

/* ************************************************ */
/* *          Styling for education page          * */
/* ************************************************ */

/* Styling for the introduction section */
#education {
    .school-table {
        display: flex;
        flex-direction: column;
        gap: 1em;

        @media (width <= 1100px) {
            gap: 2em;
        }
    }

    .school-table-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5em;
        margin: 6px 8px;

        @media (width <= 1100px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 1em;
        }

        div {
            max-width: 85ch;
        }

        img {
            border-radius: var(--border-radius);
            box-shadow: -6px 8px 3px 0 var(--black-blur);
            max-width: 450px;

            @media (width <= 1100px) {
                width: 100%;
            }
        }
    }

    .schoolTitle {
        font-weight: 700;
        line-height: 0.9;
        margin-top: 0;

        span {
            white-space: nowrap;
            opacity: 0.9;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

/* Work experience section styling */

#workExperience {
    .work-jobs div {
        margin-bottom: 1em;
    }

    .work-jobs p {
        font-size: 1.2em;
        line-height: 1.5em;
        margin-left: 1em;
    }

    .work-jobs ul {
        list-style: none;
        margin-left: 1.5em;
    }

    .work-jobs li {
        line-height: 1.5em;
    }

    .work-jobs button {
        line-height: 1.5em;
        font-size: 1.8em;
        background: transparent;
    }
}

/* Hobbies section styling */

#hobbies {
    button {
        margin-left: 0.8em;
        height: 40px;
    }

    button::before {
        content: "- ";
    }

    .dropdowns p,
    .dropdowns table {
        font-size: 1.1em;
        margin-left: 2.5em;
    }

    .hobbiesDrop {
        font-size: 1.4rem;
    }
}

/* ****************************************** */
/* *        Hobbies > Gaming section        * */
/* ****************************************** */

#gaming .gaming-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

    .gaming-item {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        width: 100%;
    }

    .game-info-container {
        display: flex;
        flex-direction: column;
        max-width: 460px;

        .banner {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            min-height: 150px;

            border-radius: calc(var(--border-radius) / 2);
            overflow: hidden;

            .banner-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;

                background: linear-gradient(0, #000000, #000000cb, #000000af, #00000081, #00000050 90%, #00000000);

                position: absolute;
                padding: 0.4em;
                width: 100%;

                @media (width <= 450px) {
                    position: relative;
                    padding-inline: 0;
                    background: none;
                    flex-wrap: wrap;
                    gap: 0.5em;
                    * {
                        color: var(--text-color) !important;
                    }
                }

                .links {
                    display: flex;
                    gap: 0.2em;

                    a {
                        display: flex;
                        text-decoration: none;
                        color: #fff;
                    }
                }

                .title {
                    font-size: 2.5rem;
                    font-weight: 500;
                    margin: 0;
                    color: #fff;
                    max-width: 14ch;
                    line-height: 1;
                }
            }

            img {
                max-width: 100%;
                border-radius: inherit;
            }
        }

        .game-info-content {
            p {
                margin: 0;
            }

            .stats {
                margin-block: 0.5em 0.7em;

                p {
                    font-size: 1.21rem;
                    white-space: nowrap;
                }
            }

            span {
                opacity: 0.76;
            }
        }
    }

    .image-container {
        width: min(calc(100%), 700px);

        .preview-image-container {
            cursor: pointer;

            &.full {
                position: fixed;
                inset: 0;
                padding: 3em 3em;
                background: #000000cc;
                z-index: 9;
                overflow: auto;

                display: flex;
                align-items: center;
                justify-content: center;

                @media (width <= 1100px) {
                    padding: 2em;
                }
            
                @media (width <= 800px) {
                    padding: 1em;
                }
            
                @media (width <= 500px) {
                    padding: 0.3em;
                }
            
                @media (height <= 500px) {
                    padding-block: 1em;
                }
            
                @media (height <= 300px) {
                    padding-block: 0.3em;
                }

                .preview-image {
                    display: flex;
                    width: min(100%, 1200px);
                }

                img {
                    border-radius: calc(var(--border-radius) * 1.5) !important;
                }
            }

            .preview-image img {
                width: 100%;
                border-radius: calc(var(--border-radius) / 2);
            }
        }

        .image-carousel {
            display: flex;
            gap: 3px;
            margin-block: 0.2em;
            overflow: auto;

            .image {
                position: relative;
            }

            .image.focus::after {
                content: "";
                display: block;
                position: absolute;
                inset: 0;
                height: 65px;
                background: #000000a1;
                border: 2px solid;
                border-radius: calc(var(--border-radius) / 3);
            }

            .image img {
                width: 115px;
                height: 65px;
                border-radius: calc(var(--border-radius) / 3);
            }
        }
    }
}

/* ******************************************* */
/* *        Styling for games section        * */
/* ******************************************* */

.games-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    .games-listItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5em 0;

        @media (width >= 1200px) {
            flex: 1 1 0px;
        }
    }

    .game-logo {
        height: 3em;
    }

    .game-title,
    #game-start {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0.6em auto 0;
    }

    .game-description {
        display: flex;
        flex-grow: 1;
        max-width: 37ch;

        font-size: 1.2rem;
        text-align: center;
    }

    #game-start {
        background: var(--bg-inverse);
        color: var(--text-inverse);
        padding: 0.3em 0.5em;
        border-radius: var(--border-radius);
        margin: 0;
    }
}

.game-window {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    inset: 0;
    padding: 3em 3em;
    background: #000000cc;
    z-index: 9;
    transition: opacity 300ms ease, visibility 300ms ease, padding 300ms ease;

    @media (width <= 1100px) {
        padding: 2em;
    }

    @media (width <= 800px) {
        padding: 1em;
    }

    @media (width <= 500px) {
        padding: 0.3em;
    }

    @media (height <= 500px) {
        padding-block: 1em;
    }

    @media (height <= 300px) {
        padding-block: 0.3em;
    }

    .game-container {
        width: 100%;
        height: 100%;
        overflow: hidden;

        position: relative;
        background: #1f1f1fc0;
        border-radius: var(--border-radius);
    }

    .game-close {
        $offset: 0.5em;

        position: absolute;
        top: $offset;
        right: $offset;
        color: #fff;
        height: 2em;
        cursor: pointer;
        filter: drop-shadow(-3px 3px 3px rgb(0 0 0 / 0.8));
        transition: color 300ms ease;

        &:hover {
            color: #c7c7c7;
            animation: shake 500ms;
        }
    }

    .game-content {
        overflow: auto;
        height: 100%;
        width: 100%;
    }

    .game-content #error {
        color: #fff;
        padding-inline-start: 1em;
    }
}

.game-window.visible {
    opacity: 1;
    visibility: visible;
}

/* ************************************** */
/* *             Drum-kit             * */
/* ************************************** */

#drum-kit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: #02394a;

    .title {
        font-size: 5rem;
        color: #dbedf3;
        text-shadow: 3px 2px #ee8434;
        margin: 0.6em 0;
    }

    $path: "/assets/images/drum-kit/";

    .w {
        background-image: url($path + "tom1.png");
    }

    .a {
        background-image: url($path + "tom2.png");
    }

    .s {
        background-image: url($path + "tom3.png");
    }

    .d {
        background-image: url($path + "tom4.png");
    }

    .f {
        background-image: url($path + "metal-pipe.png");
    }

    .j {
        background-image: url($path + "snare.png");
    }

    .k {
        background-image: url($path + "crash.png");
    }

    .l {
        background-image: url($path + "kick.png");
    }

    .set {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1em auto;
    }

    .drum {
        display: flex;
        justify-content: center;

        border: 10px solid #404b69;
        border-radius: 15px;

        font-weight: 900;
        font-size: 5rem;
        line-height: 2;

        color: #ee8434;
        text-shadow: 3px 2px #dbedf3;

        width: 150px;
        height: 150px;

        margin: 10px;

        background-color: #03284e;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        cursor: pointer;
    }

    .pressed {
        box-shadow: 0 3px 4px 0 #dbedf3;
        opacity: 0.5;
    }
}

/* ************************************** */
/* *             Simon game             * */
/* ************************************** */

#simon-game {
    $inner-border-radius: 30%;
    $outer-border-radius: 50%;

    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #011f3f;

    p,
    li {
        font-family: "Press Start 2P", $font-family;
        color: #fef2bf;
    }

    .title {
        font-size: clamp(0.94rem, calc(-1rem + 20vw), 3rem);
        margin: 5%;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        user-select: none;
        margin-bottom: 2em;
    }

    .score-container {
        margin-bottom: 1.5em;

        .score-title {
            font-size: 1.8rem;
            margin-bottom: 0.5em;
        }

        .score-table {
            display: flex;
            flex-direction: column;
            gap: 0.7em;
            padding: 0;
            list-style: none;
        }
    }

    .btn {
        margin: 0px;
        display: inline-block;
        width: 200px;
        aspect-ratio: 1 / 1;
        border: 6px solid black;
        border-radius: $inner-border-radius;
        cursor: pointer;

        transition: margin 500ms ease-in-out, width 250ms ease-in-out;
    }

    .pressed {
        box-shadow: 0 0 20px white;
        background-color: grey;
    }

    &.game-over {
        background-color: red;
        opacity: 0.8;
    }

    .red {
        background-color: red;
        border-top-right-radius: $outer-border-radius;
    }

    .green {
        background-color: green;
        border-top-left-radius: $outer-border-radius;
    }

    .blue {
        background-color: blue;
        border-bottom-right-radius: $outer-border-radius;
    }

    .yellow {
        background-color: yellow;
        border-bottom-left-radius: $outer-border-radius;
    }

    @media (width <= 450px) {
        .container {
            gap: 6px;
        }

        .row {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .btn {
            border-radius: $inner-border-radius;
        }
    }
}

/* ******************************* */
/* *          Dice game          * */
/* ******************************* */

#dice-game {
    $text-shadow: -5px 6px #232931;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    padding: 2em 1em;
    background-color: #393e46;
    cursor: pointer;

    p {
        font-size: clamp(1.5rem, 14vw, 2.4rem);
        margin: 1em 0 0;
        color: #4ecca3;

        user-select: none;

        &.title {
            font-size: clamp(2rem, 20vw, 5rem);
            font-weight: 700;
            text-shadow: $text-shadow;

            margin: 0;
            text-align: center;
        }

        span {
            padding: 0 0.05em;
            cursor: text;

            &:focus {
                border-radius: 10px;
                outline: 2px dotted;
                background-color: var(--black-blur);
            }
        }

        svg {
            margin-left: 0.15em;
        }
    }

    .dicees {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.3em;
    }

    .dice {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 15em;
    }

    .dice > svg {
        height: auto;
        width: 100%;
        max-width: 300px;
    }
}
