@use "abstracts/vars" as *;

@import url(../fonts/arvo/arvo.css);
@import url(../fonts/press-start-2p/press-start-2p.css);

.profile-info {
    margin-bottom: 2em;
}

.profile-info div:first-child {
    max-width: 300px;
    width: 100%;
    margin-right: 2em;
}

@media (width <=420px) {
    .profile-info div:first-child {
        margin-right: 0;
    }
}

.profile-info img {
    width: 100%;
}

.profile-info div:last-child {
    display: flex;
    flex-direction: column;
}

.profile-info p,
.profile-info a {
    margin: 0;
    line-height: 1.4;
    font-size: 1.4rem;
}

.profile-info .heading {
    margin-bottom: 0.4em;
}

/* ************************************** */
/* *     Styling for codingLanguges     * */
/* ************************************** */

#codingLanguages {
    overflow: auto hidden;

    .codingLanguagesContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 130px;
    }

    .codingLanguageItem {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 1.3rem;
        line-height: 2;
        padding: 0.4em;
        box-sizing: content-box;

        width: 56px;

        transition-property: width, transform, padding;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    .codingLanguageItem span {
        transition: opacity 300ms ease-in;
        white-space: nowrap;
    }

    .codingLanguageItem svg {
        height: 56px;
    }

    /* Transition in hovered elements */
    .codingLanguageItem:hover {
        padding: 0.7em;
        transform: scale(1.1) translateY(10px);
    }

    .codingLanguageItem:hover span {
        opacity: 1 !important;
    }
}

/* ************************************************ */
/* *          Styling for education page          * */
/* ************************************************ */

/* Styling for the introduction section */
#education {
    table {
        width: 100%;

        tr {
            display: flex;
            flex-direction: row;

            &:not(:last-child) {
                margin-bottom: 1.5em;
            }

            &:nth-child(even) {
                justify-content: flex-end;
                text-align: right;

                td a {
                    align-self: flex-end;
                }
            }

            td {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 1.2em;
                max-width: 60ch;

                &:last-child {
                    padding-right: 0;
                }

                a span {
                    white-space: nowrap;
                    padding-right: 0.2em;
                }
            }
        }

        p,
        a {
            margin: 0.3em 0;
        }
    }

    .schoolTitle {
        font-weight: 700;
        line-height: 0.9;

        span {
            white-space: nowrap;
            text-decoration: underline;
            opacity: 0.9;
            font-size: 1rem;
            font-weight: 400;
        }
    }

    img {
        border-radius: var(--border-radius);
        box-shadow: -6px 8px 3px 0 var(--black-blur);
        height: auto;
        // max-width: 500px;
        // width: 100%;
        width: 450px;
    }
}

/* Work experience section styling */

.work-jobs div {
    margin-bottom: 1em;
}

.work-jobs p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-left: 1em;
}

.work-jobs ul {
    list-style: none;
    margin-left: 1.5em;
}

.work-jobs li {
    line-height: 1.5em;
}

.work-jobs button {
    line-height: 1.5em;
    font-size: 1.8em;
    background: transparent;
}

/* Hobbies section styling */

#hobbies button {
    margin-left: 0.8em;
    height: 40px;
}

#hobbies button::before {
    content: "- ";
}

#hobbies .dropdowns p,
#hobbies .dropdowns table {
    font-size: 1.1em;
    margin-left: 2.5em;
}

.hobbiesDrop {
    font-size: 1.4rem;
}

/* ******************************************* */
/* *        Styling for games section        * */
/* ******************************************* */

.game-container {
    display: flex;
    min-height: 70vh;
    border-radius: var(--border-radius);

    position: relative;
    isolation: isolate;
    overflow: hidden;

    // Styling for game start and loading
    .game-loading,
    .game-start {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background: var(--black-blur);
        backdrop-filter: blur(2px);

        position: absolute;
        inset: 0;
        z-index: 1;
    }

    /* Game loading screen */
    .game-loading {
        font-size: clamp(1rem, 16vw, 6rem);

        &::after {
            content: "";
            animation: dots 2s linear infinite;
        }

        @keyframes dots {
            0%,
            20% {
                content: ".";
            }
            40% {
                content: "..";
            }
            60% {
                content: "...";
            }
            90%,
            100% {
                content: "";
            }
        }
    }

    // styling for game start button
    .game-start button {
        font-size: clamp(1rem, 20vw, 6rem);
        padding: 0.1em 0.3em;
        margin-inline: 0.3em;
        border-radius: var(--border-radius);
        background: var(--bg-inverse);
        color: var(--text-inverse);
    }

    /* Game content */
    .game-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

/* Drum-kit */

#drum-kit .game-content {
    background: #02394a;

    .title {
        font-size: 5rem;
        color: #dbedf3;
        font-family: "Arvo", $font-family;
        text-shadow: 3px 0 #ee8434;
        margin: 0.6em 0;
    }

    $path: "../images/drum-kit/";

    .w {
        background-image: url($path + "tom1.png");
    }

    .a {
        background-image: url($path + "tom2.png");
    }

    .s {
        background-image: url($path + "tom3.png");
    }

    .d {
        background-image: url($path + "tom4.png");
    }

    .f {
        background-image: url($path + "metal-pipe.png");
    }

    .j {
        background-image: url($path + "snare.png");
    }

    .k {
        background-image: url($path + "crash.png");
    }

    .l {
        background-image: url($path + "kick.png");
    }

    .set {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1em auto;
    }

    .drum {
        display: flex;
        justify-content: center;

        border: 10px solid #404b69;
        border-radius: 15px;

        font-family: "Arvo", $font-family;
        font-weight: 900;
        font-size: 5rem;
        line-height: 2;

        color: #ee8434;
        text-shadow: 3px 0 #dbedf3;

        width: 150px;
        height: 150px;

        margin: 10px;

        background-color: #03284e;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        cursor: pointer;
    }

    .pressed {
        box-shadow: 0 3px 4px 0 #dbedf3;
        opacity: 0.5;
    }
}

/* ************************************** */
/* *             Simon game             * */
/* ************************************** */

#simon-game {
    $inner-border-radius: 30%;
    $outer-border-radius: 50%;

    .game-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #011f3f;

        p,
        li {
            font-family: "Press Start 2P", $font-family;
            color: #fef2bf;
        }
    }

    .title {
        font-size: clamp(0.94rem, calc(-1rem + 20vw), 3rem);
        margin: 5%;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        user-select: none;
        margin-bottom: 2em;
    }

    .score-container {
        margin-bottom: 1.5em;

        .score-title {
            font-size: 1.8rem;
            margin-bottom: 0.5em;
        }

        .score-table {
            display: flex;
            flex-direction: column;
            gap: 0.7em;
            padding: 0;
            list-style: none;
        }
    }

    .btn {
        margin: 0px;
        display: inline-block;
        width: 200px;
        aspect-ratio: 1 / 1;
        border: 6px solid black;
        border-radius: $inner-border-radius;
        cursor: pointer;

        transition: margin 500ms ease-in-out, width 250ms ease-in-out;
    }

    .pressed {
        box-shadow: 0 0 20px white;
        background-color: grey;
    }

    .game-over {
        background-color: red;
        opacity: 0.8;
    }

    .red {
        background-color: red;
        border-top-right-radius: $outer-border-radius;
    }

    .green {
        background-color: green;
        border-top-left-radius: $outer-border-radius;
    }

    .blue {
        background-color: blue;
        border-bottom-right-radius: $outer-border-radius;
    }

    .yellow {
        background-color: yellow;
        border-bottom-left-radius: $outer-border-radius;
    }

    @media (width <= 450px) {
        .container {
            gap: 6px;
        }

        .row {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .btn {
            border-radius: $inner-border-radius;
        }
    }
}

/* ******************************* */
/* *          Dice game          * */
/* ******************************* */

#dice-game {
    $text-shadow: -5px 6px #232931;

    .game-container {
        display: flex;
        flex-direction: column;

        padding: 2em 1em;
        background-color: #393e46;
        cursor: pointer;
    }

    p {
        display: flex;
        justify-content: center;

        font-size: 2.4rem;
        margin: 1em 0 0;
        color: #4ecca3;

        user-select: none;

        &.title {
            font-size: 5rem;
            font-weight: 700;
            text-shadow: $text-shadow;

            margin: 0;
            text-align: center;
        }

        span {
            padding: 0 0.05em;
            cursor: text;

            &:focus {
                border-radius: 10px;
                outline: 2px dotted;
                background-color: var(--black-blur);
            }
        }

        svg {
            margin-left: 0.15em;
        }
    }

    .dicees {
        display: flex;
        gap: 1.3em;
        margin-inline: auto;
    }

    .dice {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .dice > svg {
        height: auto;
        width: 100%;
        max-width: 300px;
    }
}
