.navbar {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;

    height: 50px;
    padding: 0 1.2rem;
    background: var(--navbar-color);
    box-shadow: 0 0 7px 1px #000000;

    position: sticky;
    top: 0;
    isolation: isolate;
    z-index: 1;
}

/* Underline styling */
.navbar .underline {
    text-decoration: none;
}

.navbar button span {
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar .underline span::after,
.navbar button:hover span::after {
    content: "";
    position: absolute;
    bottom: -0.07em;

    width: 103%;
    height: 2px;

    background: var(--accent-color);
    border-radius: var(--border-radius);
}

// Skip to main content link
.skip-to-main {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--bg-inverse);

    height: 50px;
    padding: 0 1em;

    position: absolute;
    left: 0;
    z-index: 9;

    transform: translateX(-100%);
    transition: transform 300ms ease-in;

    &:focus {
        transform: translateX(0%);
        outline: none;
    }
}

/* ******************************************* */
/* *             Desktop version             * */
/* ******************************************* */

@media (min-width: 741px) {
    /* Menu button styling */
    .navbar-menuButton {
        display: none;
    }

    /* **************************************** */
    /* *             Navbar Links             * */
    /* **************************************** */

    .navbar-links {
        display: flex;
        align-items: center;
        margin: 0;
        overflow: auto hidden;
    }

    .navbar-links ul {
        display: flex;
        flex-direction: row;
        gap: 0.5em;

        margin: 0;
        padding: 0;

        list-style: none;
        white-space: nowrap;

        font-size: 1.25rem;
        font-weight: 500;
    }

    .navbar-links a {
        display: flex;
        align-items: center;

        height: 50px;
        padding: 0 0.4em;
        position: relative;

        border-radius: var(--border-radius);
        color: var(--text-color);
        text-decoration: none;
    }

    .navbar-links a::after {
        content: "";
        height: 3px;
        scale: 0 1;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        background: var(--accent-color);
        border-radius: var(--border-radius);
        transition: scale 300ms ease;
    }

    .navbar-links a:hover::after,
    .navbar-links a.active::after {
        scale: 1;
    }

    .gamesDropdown {
        display: none;
    }

    #gamesLink:hover + .gamesDropdown,
    .gamesDropdown:hover {
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: .6em;

        border-radius: 0 calc(var(--border-radius) / 1.5) calc(var(--border-radius) / 1.5) calc(var(--border-radius) / 1.5);
        background: var(--navbar-color);

        padding: .6em .7em;
        box-shadow: -1px 2px 6px #000000a6;
        translate: -8% -3px;

        a {
            width: min-content;
            height: auto;
            padding: .1em 0;
        }
    }

    /* ****************************************** */
    /* *             Navbar buttons             * */
    /* ****************************************** */

    .navbar-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 0.7rem;
    }

    .navbar-buttons > div {
        position: relative;
    }

    .navbar-buttons > div > button {
        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;
        border-radius: var(--border-radius);

        height: 50px;
        width: 50px;

        color: var(--text-color);
        fill: currentColor;

        svg {
            height: 28px;
        }
    }

    .navbar-buttons .navbar-appearance > button svg {
        height: 31px;
    }

    .navbar-buttons > div > button span {
        display: none;
    }

    /* ***************************************** */
    /* *            Dropdown menues            * */
    /* ***************************************** */

    .navbar-drop {
        position: absolute;
        display: none;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        min-width: 150px;
        white-space: nowrap;

        padding: 0 1.2em 0 0.9em;
        right: 0;
        gap: 0.1em;

        background: var(--navbar-color);
        box-shadow: -1px 2px 6px 1px #000;
        border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
    }

    .navbar-drop hr {
        width: 100%;
        height: 2px;

        border: none;
        border-radius: var(--border-radius);

        margin: 0 auto;
        background-color: #58585880;
    }

    .navbar-drop button {
        display: flex;
        align-items: center;

        background: none;
        border: none;
        margin: 0.6em 0.2em;
        padding: 0;
        color: var(--text-color);
        font-size: 1.2rem;
        font-weight: 500;
    }

    .navbar-drop button svg {
        height: 26px;
        margin-right: 0.3em;
    }

    .navbar-buttons > .active .navbar-drop {
        display: flex;
    }

    .navbar-appearance {
        .navbar-drop svg {
            height: 24px;
            border-radius: 50%;
        }
    }
}

/* ****************************************** */
/* *             Mobile version             * */
/* ****************************************** */

@media (max-width: 740px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .navbar-links,
        .navbar-buttons {
            display: none;
        }

        &.active {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100vh;
            overflow-y: scroll;

            .navbar-buttons,
            .navbar-links {
                display: block;
            }

            /* **************************************** */
            /* *             Navbar Links             * */
            /* **************************************** */

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 1.4rem;
            }

            /* Seperation line between navbar links and navbar buttons */
            ul::after {
                content: "";
                display: block;

                width: 100%;
                height: 2px;

                border: none;
                border-radius: var(--border-radius);

                margin: 1em auto 0.5em;
                background-color: #58585880;
            }

            .navbar-links a {
                display: flex;
                align-items: center;

                width: max-content;
                height: 50px;
                padding: 0 0.4em;
                position: relative;

                border-radius: var(--border-radius);
                color: var(--text-color);
                text-decoration: none;

                &::after {
                    content: "";
                    height: 3px;
                    scale: 0 1;

                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    background: var(--accent-color);
                    border-radius: var(--border-radius);
                    transition: scale 300ms ease;
                }

                &:hover::after,
                &.active::after {
                    scale: 0.84 1;
                }
            }

            /* ****************************************** */
            /* *             Navbar buttons             * */
            /* ****************************************** */

            .navbar-buttons button {
                margin: 0.3em 0;
                background: none;
                border: none;
                color: var(--text-color);
            }

            .navbar-buttons > div > button {
                display: none;
            }

            .navbar-buttons > div > button span {
                font-size: 1.6rem;
                font-weight: 600;
            }

            .navbar-drop button {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;
                font-weight: 500;
            }

            .navbar-drop svg {
                margin-right: 0.3em;
                fill: currentColor;
                height: 28px;
            }

            .navbar-drop::after {
                content: "";
                display: block;

                width: 100%;
                height: 2px;

                border: none;
                border-radius: var(--border-radius);

                margin: 1em auto;
                background-color: #58585880;
            }
        }

        .navbar-drop hr {
            display: none;
        }

        /* ******************************************* */
        /* *               Menu button               * */
        /* ******************************************* */

        .navbar-menuButton {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: flex-end;

            position: absolute;
            height: 50px;
            width: 50px;

            cursor: pointer;
        }

        .navbar-menuButton .bar {
            margin: 6px 0px;
            cursor: pointer;
        }

        .navbar-menuButton .bar,
        .navbar-menuButton::after,
        .navbar-menuButton::before {
            content: "";
            background-color: var(--bg-inverse);

            width: 70%;
            height: 5px;

            border: none;
            border-radius: var(--border-radius);
            transition: transform 300ms ease, opacity 300ms ease;
        }

        &.active .navbar-menuButton::before {
            transform: rotate(-45deg) translate(-8px, 6px);
        }

        &.active .navbar-menuButton::after {
            transform: rotate(45deg) translate(-9px, -8px);
        }

        &.active .navbar-menuButton .bar {
            opacity: 0;
        }
    }
}
