@import url(../fonts/arvo/arvo.css);

@import url(../fonts/press-start-2p/press-start-2p.css);

@import url(../fonts/indie-flower/indie-flower.css);
@import url(../fonts/lobster/lobster.css);


.game-container {
    border-radius: var(--border-radius);
}


/* Drum-kit */

#drum-kit .game-container {
    text-align: center;
    background-color: #02394A;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}


#drum-kit #title {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #EE8434;
}


#drum-kit .w {
    background-image: url('../images/drum-kit/tom1.png');
}

#drum-kit .a {
    background-image: url('../images/drum-kit/tom2.png');
}

#drum-kit .s {
    background-image: url('../images/drum-kit/tom3.png');
}

#drum-kit .d {
    background-image: url('../images/drum-kit/tom4.png');
}

#drum-kit .f {
    background-image: url('../images/drum-kit/metal-pipe.png');
}

#drum-kit .j {
    background-image: url('../images/drum-kit/snare.png');
}

#drum-kit .k {
    background-image: url('../images/drum-kit/crash.png');
}

#drum-kit .l {
    background-image: url('../images/drum-kit/kick.png');
}

#drum-kit .set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    margin: 10% auto;
}

#drum-kit .drum {
    display: flex;
    justify-content: center;

    border: 10px solid #404B69;
    border-radius: 15px;

    font-family: 'Arvo', cursive;
    font-weight: 900;
    font-size: 5rem;
    line-height: 2;

    color: #EE8434;
    text-shadow: 3px 0 #DBEDF3;

    width: 150px;
    height: 150px;

    margin: 10px;

    background-color: #03284E;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    cursor: pointer;
}

#drum-kit .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}




/* ************************************** */
/* *             Simon game             * */
/* ************************************** */

#simon-game .game-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #011F3F;
}

#simon-game #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: clamp(.94rem, -1rem + 20vw, 3rem);
    margin: 5%;
    color: #FEF2BF;
}

#simon-game .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    user-select: none;
}

#simon-game .btn {
    --inner-border-radius: 30%;
    --outer-border-radius: 50%;

    margin: 0px;
    display: inline-block;
    width: 200px;
    aspect-ratio: 1 / 1;
    border: 6px solid black;
    border-radius: var(--inner-border-radius);
    cursor: pointer;

    transition: margin 500ms ease-in-out, width 250ms ease-in-out;
}

#simon-game .game-over {
    background-color: red;
    opacity: 0.8;
}

#simon-game .red {
    background-color: red;
    border-top-right-radius: var(--outer-border-radius);
}

#simon-game .green {
    background-color: green;
    border-top-left-radius: var(--outer-border-radius);
}

#simon-game .blue {
    background-color: blue;
    border-bottom-right-radius: var(--outer-border-radius);
}

#simon-game .yellow {
    background-color: yellow;
    border-bottom-left-radius: var(--outer-border-radius);
}

#simon-game .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}


@media (width <= 450px) {
    #simon-game .container {
        gap: 6px;
    }

    #simon-game .row {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    #simon-game .btn {
        border-radius: var(--inner-border-radius);
    }
}




/* ******************************* */
/* *          Dice game          * */
/* ******************************* */

#dice-game .game-container  {
    background-color: #393E46;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#dice-game h1 {
    margin: 30px 0 0;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

#dice-game button {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
    background: #0a865d70;
    border: none;
    border-radius: 30px;
    padding: .05em .4em;
    cursor: pointer;
}

#dice-game p {
    font-size: 2.3rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    margin: 0;
}

#dice-game img {
    width: 80%;
}

#dice-game .container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#dice-game .dicees {
    display: flex;
    flex-direction: row;
}

#dice-game .dice {
    text-align: center;
}