/* ************************************* */
/* *      Styling the main navbar      * */
/* ************************************* */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 50px;
    padding: 0 1.2rem;
    background: var(--navbar-color);
    box-shadow: 0 0 7px 1px #000000;

    position: sticky;
    top: 0;
    visibility: visible !important;
    z-index: 999;
}


/* Underline styling */

.navbar .underline {
    text-decoration: none;
}

.navbar button span {
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar .underline span::after,
.navbar button:hover span::after {
    content: '';
    position: absolute;
    bottom: -.07em;

    width: 103%;
    height: 2px;

    background: var(--accent-color);
    border-radius: var(--border-radius);
}




/* ******************************************* */
/* *             Desktop version             * */
/* ******************************************* */

@media (min-width: 741px) {

    /* Menu button styling */
    .navbar-menuButton {
        display: none;
    }



    /* **************************************** */
    /* *             Navbar Links             * */
    /* **************************************** */

    .navbar-links {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .navbar-links ul {
        display: flex;
        flex-direction: row;
        gap: .5em;

        margin: 0;
        padding: 0;

        list-style: none;
        white-space: nowrap;

        font-size: 1.25rem;
        font-weight: 500;
    }

    .navbar-links a {
        display: flex;
        align-items: center;

        height: 50px;
        padding: 0 .4em;
        position: relative;

        border-radius: var(--border-radius);
        color: var(--text-color);
        text-decoration: none;
    }

    .navbar-links a::after {
        content: '';
        height: 3px;
        scale: 0 1;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        background: var(--accent-color);
        border-radius: var(--border-radius);
        transition: scale 300ms ease;
    }

    .navbar-links a:hover::after,
    .navbar-links a.active::after {
        scale: 1;
    }



    /* ****************************************** */
    /* *             Navbar buttons             * */
    /* ****************************************** */

    .navbar-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: .7rem;
    }

    .navbar-buttons>div {
        position: relative;
    }

    .navbar-buttons>div>button {
        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border: none;
        border-radius: var(--border-radius);

        height: 50px;
        width: 50px;

        color: var(--text-color);
        fill: currentColor;
    }

    .navbar-buttons>div>button span {
        display: none;
    }



    /* ***************************************** */
    /* *            Dropdown menues            * */
    /* ***************************************** */

    .navbar-drop {
        position: absolute;
        display: none;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        min-width: 150px;
        white-space: nowrap;

        padding: 0 1.2em 0 .9em;
        right: 0;
        gap: .1em;

        background: var(--navbar-color);
        box-shadow: -1px 2px 6px 1px #000;
        border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
    }

    .navbar-drop hr {
        width: 100%;
        height: 2px;

        border: none;
        border-radius: var(--border-radius);

        margin: 0 auto;
        background-color: #58585880;
    }

    .navbar-drop button {
        display: flex;
        align-items: center;

        background: none;
        border: none;
        margin: .6em .2em;
        padding: 0;
        color: var(--text-color);
        font-size: 1.33rem;
        font-weight: 500;
    }

    .navbar-drop button svg {
        width: 30px;
        margin-right: .3em;
    }

    .navbar-buttons>.active .navbar-drop {
        display: flex;
    }

}



/* ****************************************** */
/* *             Mobile version             * */
/* ****************************************** */

@media (max-width: 740px) {

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .navbar.active {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        overflow-y: scroll;
    }

    .navbar .navbar-links,
    .navbar .navbar-buttons {
        display: none;
    }

    .navbar.active .navbar-buttons,
    .navbar.active .navbar-links {
        display: block;
    }

    /* **************************************** */
    /* *             Navbar Links             * */
    /* **************************************** */

    .navbar.active ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.4rem;
    }

    /* Seperation line between navbar links and navbar buttons */
    .navbar.active ul::after {
        content: '';
        display: block;

        width: 100%;
        height: 2px;

        border: none;
        border-radius: var(--border-radius);

        margin: 1em auto .5em;
        background-color: #58585880;
    }

    .navbar.active .navbar-links a {
        display: flex;
        align-items: center;

        width: max-content;
        height: 50px;
        padding: 0 .4em;
        position: relative;

        border-radius: var(--border-radius);
        color: var(--text-color);
        text-decoration: none;
    }

    .navbar.active .navbar-links a::after {
        content: '';
        height: 3px;
        scale: 0 1;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        background: var(--accent-color);
        border-radius: var(--border-radius);
        transition: scale 300ms ease;
    }

    .navbar.active .navbar-links a:hover::after,
    .navbar.active .navbar-links a.active::after {
        scale: .84 1;
    }



    /* ****************************************** */
    /* *             Navbar buttons             * */
    /* ****************************************** */

    .navbar.active .navbar-buttons button {
        margin: .3em 0;
        background: none;
        border: none;
        color: var(--text-color);
    }

    .navbar.active .navbar-buttons>div>button svg {
        display: none;
    }

    .navbar.active .navbar-buttons>div>button span {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .navbar.active .navbar-drop button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .navbar.active .navbar-drop svg {
        margin-right: .3em;
        fill: currentColor;
        height: 28px;
    }

    .navbar.active .navbar-drop::after {
        content: '';
        display: block;

        width: 100%;
        height: 2px;

        border: none;
        border-radius: var(--border-radius);

        margin: 1em auto;
        background-color: #58585880;
    }

    .navbar-drop hr {
        display: none;
    }



    /* ******************************************* */
    /* *               Menu button               * */
    /* ******************************************* */

    .navbar-menuButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: flex-end;

        position: absolute;
        height: 50px;
        width: 50px;

        cursor: pointer;
    }

    .navbar-menuButton .bar {
        margin: 6px 0px;
        cursor: pointer;
    }

    .navbar-menuButton .bar,
    .navbar-menuButton::after,
    .navbar-menuButton::before {
        content: '';
        background-color: var(--bg-inverse);

        width: 70%;
        height: 5px;

        border: none;
        border-radius: var(--border-radius);
        transition: transform 300ms ease, opacity 300ms ease;
    }

    .navbar.active .navbar-menuButton::before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .navbar.active .navbar-menuButton::after {
        transform: rotate(45deg) translate(-9px, -8px);
    }

    .navbar.active .navbar-menuButton .bar {
        opacity: 0;
    }
}