/* Dark theme */
body {
    --bg-color: #001525;
    --bg-gradient: linear-gradient(150deg, #001525 20%, #0c2438 59%, #17003b 70%);
    --bg-inverse: #fff;

    --navbar-color: #000c1f;
    --footer-color: #000c1f;

    --text-color: #fff;
    --text-inverse: #000;
    --accent-color: #ffad29;
}

/* Purple theme */
body.purple {
    --bg-color: #210030;
    --bg-gradient: linear-gradient(100deg, #002324 6%, #240030 46%, #001230 77%, #120016 800%);
    --bg-inverse: #fff;

    --navbar-color: linear-gradient(6deg, #020e17 20%, #2a0038);
    --footer-color: linear-gradient(183deg, #020e17, #1f002b 80%);

    --text-color: #fff;
    --text-inverse: #000;
    --accent-color: #ffad29;
}

/* Light theme */
body.light {
    --bg-color: #ffffff;
    --bg-gradient: linear-gradient(135deg, #e7e7e7, #fff9f3, #fafafa);
    --bg-inverse: #162221;

    --navbar-color: #e9e9e9;
    --footer-color: #e9e9e9;

    --text-color: #000;
    --text-inverse: #fff;
    --accent-color: #9c02a1;
}

/* Orange theme */
body.orange {
    --bg-color: #ffcd8a;
    --bg-gradient: linear-gradient(145deg, #fff 7%, #ffb95c, #d4aeff 90%);
    --bg-inverse: #162221;

    --navbar-color: linear-gradient(20deg, #ffd8ab, #ffc068 70%);
    --footer-color: linear-gradient(173deg, #ffd8ab, #ffc068 80%);

    --text-color: #000;
    --text-inverse: #fff;
    --accent-color: #9c02a1;
}

:root {
    --border-radius: 25px;
    --black-blur: #0000004d;
    --separator-color: #53535385;
}