<body>
    <div id="dice-game">
        <p class="title">Click anywhere to roll dice</p>
        <div class="dicees">
            <div class="dice">
                <p>
                    <span contentEditable="true" spellcheck="false" class="player1">Player1</span>
                    <svg class="icon-edit"></svg>
                </p>
                <svg id="dice1" class="icon-dice-6"></svg>
            </div>
    
            <div class="dice">
                <p>
                    <span contentEditable="true" spellcheck="false" class="player2">Player2</span>
                    <svg class="icon-edit"></svg>
                </p>
                <svg id="dice2" class="icon-dice-6"></svg>
            </div>
        </div>
    </div>
</body>