<head>
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>

<body>
    <div class="grid-container">
        <div class="grid-item" aria-label="Social information section">
            <p class="header">Kim Lukas Myrvold</p>
            <p>
                <a href="https://github.com/kimlukasmyrvold/kimlukasmyrvold.github.io" target="_blank"
                    rel="noreferrer noopener">
                    <svg class="icon-github"></svg>
                    <span>Github</span>
                </a>
            </p>
            <p>
                <a href="https://steamcommunity.com/id/solonerves" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-steam"></svg>
                    <span>Steam</span>
                </a>
            </p>
            <p>
                <a href="https://www.youtube.com/@SoloNerves" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-youtube"></svg>
                    <span>Youtube</span>
                </a>
            </p>
        </div>
        <div class="grid-item" aria-label="Contact information section">
            <p id="contactInformation" class="header">Kontaktinformasjon</p>
            <p>
                <a href="tel: +4748426624">
                    <svg class="icon-phone"></svg>
                    <span>+47 484 26 624</span>
                </a>
            </p>
            <p>
                <a href="https://discord.com/" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-discord"></svg>
                    <span>solonerves</span>
                </a>
            </p>
            <p>
                <a href="/redirects/mailto.html" target="_blank" rel="noreferrer noopener">
                    <svg class="icon-mail"></svg>
                    <span>kimlukasmyrvold06@gmail.com</span>
                </a>
            </p>
        </div>
        <div class="grid-item" id="location" aria-label="Location section">
            <p id="locationText" class="header">Beliggenhet</p>
            <div id="map" style="padding: 0 .5em 1em;">
                <p id="map-consent-location">Fredrikstad, Årum.</p>
                <p id="map-consent-text">Google maps may collect user data, in order to view map you need to consent.
                </p>
                <button id="map-consent-button">Accept</button>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p><svg class="icon-copyright"></svg>2023 Copyright: Kim Lukas Myrvold</p>
    </div>
</body>