<body>
    <div class="pongGameContainer">
        <div class="pongGameContent">
            <div class="pongGame">
                <div class="scores">
                    <span class="playerA">0</span>
                    <span class="playerB">0</span>
                </div>
                <span class="divider"></span>
                <div id="game-container"></div>
            </div>

            <div class="pongButtons">
                <button class="start">Start</button>
                <button class="stop">Stop</button>
            </div>
        </div>
    </div>
</body>