<body>
    <div id="simon-game">
        <p class="title">Click me to start</p>
        <div class="container">
            <div class="row">
                <span type="button" id="green" class="btn green"></span>
                <span type="button" id="red" class="btn red"></span>
            </div>
            <div class="row">
                <span type="button" id="yellow" class="btn yellow"></span>
                <span type="button" id="blue" class="btn blue"></span>
            </div>
        </div>

        <div class="score-container">
            <p class="score-title">Score table</p>
            <ol class="score-table"></ol>
        </div>
    </div>
</body>